_format_version: "3.0"
_transform: true

services:
  - name: api
    url: "{{ api_upstream_host if api_upstream_host is match('^https?://') else 'http://' ~ api_upstream_host ~ ':80' }}"
    routes:
      - name: api-prod
        paths:
          - /api
        strip_path: false

      - name: api-homolog
        paths:
          - /homolog/api
        strip_path: false

  - name: frontend
    url: "{{ frontend_upstream_host if frontend_upstream_host is match('^https?://') else 'http://' ~ frontend_upstream_host ~ ':80' }}"
    routes:
      - name: frontend-root
        paths:
          - /
        strip_path: false
